@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <h4>
        An Admin as been notified and will contact you via your registered Email!
    </h4>
</div>
	
