@model stemmeApp.Models.VoteModel

    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
@{
    ViewBag.Title = "Vote2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vote2</h2>

